<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>security</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<security-role>
		<role-name>foo</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>User pages</web-resource-name>
			<url-pattern>/servlet/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>foo</role-name>
		</auth-constraint>
	</security-constraint>
	
	<resource-ref>
    <description>H2 Database</description>
    <res-ref-name>jdbc/H2DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>

</web-app>